.dropdown-toggle::after {
    content: initial;
  }
  .input-group {
    position: relative;
  }
  .custom-search-input {
    width: 300px;
    /* Adjust the width as needed */
  }
  .show-mismatch{
    color: #ed4337;
    font-weight: 600;
}