<div class="main">
    <div class="container-fluid">
        <div class="section-header mb-4">
            <app-header-right-template class="section-header"></app-header-right-template>
        </div>


        <div class="card w-100">
            <div class="card-body p-0">
                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-4 pe-0 ps-0">
                        <app-employee-leftbar-template [activeComp]="'upload'" [activeSubComp]="''"
                            [employeeId]="employeeDownloadId" [mode]="mode"
                            [progressPercentage]="100"></app-employee-leftbar-template>
                    </div>


                    <form class="col-lg-8 col-xl-9 step-forms col-md-8 ps-0" enctype="multipart/form-data"
                        id="form-information">
                        <section class="trial active" id="employee-detail" data-step="2" autocomplete="off">
                            <div class="form-inner-section">
                                <div class="form-header">
                                    <h3 class="card-title d-inline"><i class="icon-left-arrow back-btn"
                                            (click)="onBack()"></i>Upload</h3>
                                    <span class="edit-now float-end mt-1" *ngIf="showEdit"
                                        (click)="onEditClicked()">Edit</span>
                                </div>
                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9">
                                            <div class="col-sm-4 course_upload">
                                                <input type="hidden" name="is_course_upload" value="">
                                                <div class="form-group">
                                                    <label for="course_upload" class="w-100">Empolyment Agreement

                                                        <span class="required-sign">*</span>
                                                    </label>
                                                    <label for="course_upload" class="btn input-btn w-100"
                                                        [ngClass]="{'input-btn-primary': (empolymentAgreementeDocumentFileName != ''), 'input-btn-danger': (empolymentAgreementeDocumentFileName == '')}"
                                                        [ngbTooltip]="empolymentAgreementeDocumentFileName" tooltipClass="custom-tooltip" placement="bottom">
                                                        <svg width="24" height="24" viewBox="0 0 24 24">
                                                            <use xlink:href="#upload" />
                                                        </svg>
                                                        <input id="course_upload" type="file" name="course_upload"
                                                            (change)="onEmpolymentAgreementFileChanged($event)"
                                                            [disabled]="!isEdit" />
                                                        <div class="value-wrap">
                                                            <span class="default-text" *ngIf="empolymentAgreementeDocumentFileName == ''">Upload</span>
                                                            <span class="value" *ngIf="empolymentAgreementeDocumentFileName != ''">{{empolymentAgreementeDocumentFileName|fileDisplayName}}</span>
                                                        </div>
                                                    </label>


                                                    <label class="w-100 format"
                                                        *ngIf="empolymentAgreementeDocumentFileName == ''">
                                                        <span class="text-lowercase text-danger">FORMAT- PNG, JPG,
                                                            PDF</span>
                                                    </label>

                                                    <label class="w-100 preview"
                                                        *ngIf="empolymentAgreementeDocumentFileName !== ''">
                                                        <span class="text-lowercase font-italic text-primary"><a
                                                                (click)="onEmpolymentAgreementPreview()">Preview</a></span>
                                                    </label>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 d-none d-lg-flex">
                                            <ng-lottie style="height: 300px;" [options]="lottieOptions"
                                                (animationCreated)="animationCreated($event)"></ng-lottie>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <ng-container *ngIf="mode == 'create'">
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'edit'">
                                        <button *ngIf="!isActive && empolymentAgreementeDocumentFileName != ''" type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onSendCredentials()" [disabled]="isBusy">
                                            <div *ngIf="isBusy">
                                                <span class="spinner-border text-light"
                                                    style="margin-right: 10px; vertical-align: middle;"
                                                    role="status"></span>
                                                <span>Send Credentials
                                                    Email</span>
                                            </div>
                                            <span *ngIf="!isBusy">Send Credentials
                                                Email</span>
                                        </button>
                                        <button *ngIf="isActive && !isEdit" type="button"
                                            class="proceed btn btn-primary btn-lg" id="bse_send_email"
                                            (click)="onFinish()">Finish</button>

                                        <button *ngIf="isActive && isEdit && empolymentAgreementeDocumentFileName != ''" type="button"
                                            class="btn btn-primary btn-lg proceed" (click)="onSendCredentials()"
                                            [disabled]="isBusy">
                                            <div *ngIf="isBusy">
                                                <span class="spinner-border text-light"
                                                    style="margin-right: 10px; vertical-align: middle;"
                                                    role="status"></span>
                                                <span>Finish</span>
                                            </div>
                                            <span *ngIf="!isBusy">Finish</span>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'verify'">
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'externalverify'">
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'viewdetails'">
                                        <button *ngIf="isActive" type="button" class="proceed btn btn-primary btn-lg"
                                            id="bse_send_email" (click)="onFinish()">Finish</button>
                                    </ng-container>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>