<div class="container-fluid m-5 ">
    <div class="col d-flex justify-content-center align-item-center" >
            <div class="card " >
                <div class="card-body" >
                    <div class="row justify-content-center ">
                        <div class="logo-wrap">
                            <img class="img-fluid" src="assets/images/logo.svg" alt="Kinntegra">
                        </div>
                    </div>
                    <h3 class="card-title text-center">Reset Password</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" id="user-id" name="password" [(ngModel)]="objResetPassword.Password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <input type="text" id="user-id" name="newpassword" [(ngModel)]="objResetPassword.NewPassword" class="form-control" placeholder="Repeat Password">
                        </div>
                            <p>2Factor PIN</p>
                            <p>Set Numeric 6 digit PIN as your 2Factor authentication code<br>
                                This is required for logins along with the password</p>
                        <div class="form-group">
                            <input type="text" id="user-id" name="pin" [(ngModel)]="objResetPassword.PIN" class="form-control" placeholder="New PIN">
                        </div>
                        <div class="form-group">
                            <input type="text" id="user-id" name="newpin" [(ngModel)]="objResetPassword.NewPIN" class="form-control" placeholder="Repeat PIN">
                        </div>
                        <button class="btn btn-primary w-100 btn-lg text-uppercase" (click)="onSaveNewCredentials()" type="submit">SAVE</button>
                    </form>
                </div>
        </div>
    </div>
    <div class="company-info text-center mb-4 text-dark">
        Kinntegra Wealth Private Limited (AMFI Registered Mutual Fund Distributor)<br>
        AMFI Registration No: ARN-145633 | BSE Member Code - 19941 <br>
        Valid From 19th May 2019 | Valid Till 18th May 2027 <br>
        ROC CIN: U74999MH2018PTC306145
    </div>
</div>


<!-- <div class="auth-page">
    <div class="auth-wrapper">
        <div class="card col-4" >
            <div class="card-body" style="margin-top: 200px;">
                <div class="logo-wrap">
                    <img class="img-fluid" src="assets/images/logo.svg" alt="Kinntegra">
                </div>
                <h3 class="card-title text-center">Reset Password</h3>
                <form>
                    <div class="form-group">
                        <input type="text" id="user-id" class="form-control" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-id" class="form-control" placeholder="Repeat Password">
                    </div>
                    <div class=" mt-3 justify-content-center">
                        <p>2Factor PIN</p>
                        <p>Set Numeric 6 digit PIN as your 2Factor authentication code</p>
                        <p>This is required for logins along with the password</p>
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-id" class="form-control" placeholder="New PIN">
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-id" class="form-control" placeholder="Repeat PIN">
                    </div>
                    <button class="btn btn-primary w-100 btn-lg text-uppercase" type="submit">SAVE</button>
                </form>
            </div>
        </div>
        <div class=" company-info text-center mb-4 text-dark">
            Kinntegra Wealth Private Limited (AMFI Registered Mutual Fund Distributor)<br>
            AMFI Registration No: ARN-145633 | BSE Member Code - 19941 <br>
            Valid From 19th May 2019 | Valid Till 18th May 2027 <br>
            ROC CIN: U74999MH2018PTC306145
        </div>
    </div>

</div> -->