<!-- <div class="auth-page">
    <div class="auth-wrapper">
        <div class="card auth-card">
            <div class="card-body">
                <div class="logo-wrap">
                    <img class="img-fluid" src="assets/images/logo.svg" alt="Kinntegra">
                </div>
                <h3 class="card-title text-center"> Check Your Email</h3>
                    <div class="row justify-content-center">
                            <p>An e-mail has been sent to you with the password rest link</p>
                    </div>
                <button class="btn btn-primary w-100 btn-lg text-uppercase" type="submit">BACK TO LOGIN</button>
            </div>
        </div>
        <div class="text-center company-info font">
            Kinntegra Wealth Private Limited | CIN: U74999MH2018PTC306145 <br>
            AMFI Registration No: ARN-145633 | BSE StarMF Member ID - 19941
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="col d-flex justify-content-center align-item-center">
        <div class="card col-8">
            <div class="card-body text-center">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <ng-lottie width="100px" height="100px" [options]="lottieOptions"
                            (animationCreated)="animationCreated($event)"></ng-lottie>
                    </div>
                </div>
                <div class="row mt-4">
                    <h3 class="card-text">Check Your Email</h3>
                    <p class="card-text">An e-mail has been sent to you with the Password reset link.</p>
                </div>
                <div class="row justify-content-center mt-4">
                    <a class="btn btn-primary col-sm-2" href="signin">BACK TO LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>