.bodytxt4 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.bodytxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;

}
.bullet1 {

	list-style-type:	square;
	list-style-position: inside;
	list-style-image: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
}
.bodytxt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;

}
A.sac2 {
	COLOR: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
A.sac2:visited {
	COLOR: #314D5A; TEXT-DECORATION: none
}
A.sac2:hover {
	COLOR: #FF9900; TEXT-DECORATION: underline
}
