<style>
    .btn {
        background-color: rgba(33, 77, 33, 0.747);
        text-decoration: none;
        color: white;
        border-radius: 23px;
        border: 1px solid;
        height: 40px;
        width: 130px;
    }
</style>

<div style="margin: 20px 20px 20px 20px;">
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Dear [ClientName],
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        We would like to inform you that the Systematic Withdrawal Plan (SWP) for your investment has been automatically
        triggered for this month as per the agreed parameters.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        SWP Details:<br />
        Scheme / Fund Name: [SchemeName]<br />
        SWP Amount: [Amount]<br />
        Installment: [CurrentInstallmentNumber] out of [TotalInstallments]<br />
        Date Triggered: [Date]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Please find attached a detailed note outlining the logic and calculation methodology used to determine the
        withdrawal amount.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        The SWP amount has been processed as per the schedule and will reflect in your registered bank account shortly.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Should you have any questions or wish to review or modify the SWP parameters, please feel free to reach out to
        us.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Thanks and Regards,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Team Kinntegra
    </div>
</div>