<div style="margin: 20px 20px 20px 20px;">
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Dear Advisor,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Please be informed that the mandate registration submitted for the below client's SIP setup has been rejected and could not be approved.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Client Name: [ClientName]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Client UCC: [UCC]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        As per the process:
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        The SIP registration has been created; however, the first SIP installment will be scheduled from the date the mandate is successfully approved.
        Since the mandate approval was unsuccessful, no SIP trade has been initiated from the backend.
        A new mandate creation process is required to proceed further.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Kindly coordinate with the client and reinitiate the mandate registration process at the earliest. Once the mandate is successfully approved, please create a new SIP trade as per the applicable SIP schedule.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Mutual Fund Investments are subject to market risks. Please read the Scheme Information Document carefully
        before investing.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        You may also contact us at <a href="mailto:info@kinntegra.co.in"
            style="text-decoration: none; color: #007bff;">info@kinntegra.co.in</a> for any further information that you
        may require.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Thanks and Regards,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Team Kinntegra
    </div>
</div>