<div style="margin: 20px 20px 20px 20px;">
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Dear [EmployeeName] ,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Greetings from Kinntegra!!!
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Self Verification is rejected for following reason:
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
       [Reason]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Investors must ensure that the funds are transferred from the registered bank account mentioned in the client registration data on Kinntegra.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Mutual Fund Investments are subject to market risks. Please read the Scheme Information Document carefully before investing.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        You may also contact us at <a href="mailto:info@kinntegra.co.in" style="text-decoration: none; color: #007bff;">info@kinntegra.co.in</a> for any further information that you may require.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Thanks and Regards,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Team Kinntegra
    </div>
  </div>