<div style="margin: 20px 20px 20px 20px;">
    <p style="margin-bottom: 20px; margin-top: 30px; ">
        Dear [ClientName],
    </p>
    <p>
        We are delighted to confirm the successful opening of your account with Kinntegra Wealth Private Limited. Welcome to our esteemed clientele!
    </p>
    <p>
        Please find attached the signed documents related to your account opening. These documents mark the beginning of what we hope will be a fruitful and enduring partnership between our organizations.
    </p>
    <p>
        Should you have any queries or require further assistance, please do not hesitate to contact us. Our dedicated team is here to support you every step of the way.
    </p>
    <p>
        Thank you for choosing Kinntegra Wealth Private Limited. We look forward to serving you and exceeding your expectations.
    </p>
    <p>
        Investors must ensure that the funds are transferred from the registered bank account mentioned in the client registration data on Kinntegra.
    </p>
    <p>
        Mutual Fund Investments are subject to market risks. Please read the Scheme Information Document carefully before investing.
    </p>
    <p>You may also contact us at 
        <a href="mailto:info@kinntegra.co.in" style="text-decoration: none; color: #007bff;">
            info@kinntegra.co.in
        </a> 
        for any further information that you may require.
    </p>
    <p>Thanks and Regards,</p>
    <p>Team Kinntegra</p>
</div>