
<div style="margin: 20px 20px 20px 20px;">
    <p style="margin-bottom: 20px; margin-top: 30px; ">
        Dear [EmployeeName],
    </p>
    <p>
        Greetings from Kinntegra!!!
    </p>
    <p>
        Congratulations! Employee [EmployeeName] has been approved.
    </p>
    <p>
        Your password is the first five letters of your PAN Card in uppercase, followed by the day and month of the Date of Birth.
    </p>
    <p>
        Your Pin is [Pin]
    </p>
    <p>
        Click below to login:
    </p>
    <button style="width:100px;height: 40px;border: 1px solid;  border-radius: 23px; color: white; text-decoration: none;  background-color: rgba(33, 77, 33, 0.747);"><a href="[Link]" target="_blank">SignIn</a></button>
    <p>
        If you are not able to open the above link, please copy and paste the following URL into your browser: 
        <a style="text-decoration: none; color: #007bff;" href="[Link]" target="_blank">
            [Link]
        </a> 
    </p>
    <p>
        Investors must ensure that the funds are transferred from the registered bank account mentioned in the client registration data on Kinntegra.
    </p>
    <p>
        Mutual Fund Investments are subject to market risks. Please read the Scheme Information Document carefully before investing.
    </p>
    <p>You may also contact us at 
        <a href="mailto:info@kinntegra.co.in" style="text-decoration: none; color: #007bff;">
            info@kinntegra.co.in
        </a> 
        for any further information that you may require.
    </p>
    <p>Thanks and Regards,</p>
    <p>Team Kinntegra</p>
</div>