<style>
    .btn {
        background-color: rgba(33, 77, 33, 0.747);
        text-decoration: none;
        color: white;
        border-radius: 23px;
        border: 1px solid;
        height: 40px;
        width: 130px;
    }
</style>

<div style="margin: 20px 20px 20px 20px;">
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Dear [ClientName],
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Greetings from Kinntegra!!!
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        [AssociateName] - representative of kinntegra wealth private limited has submitted electronically MF application
        through Kinntegra on your behalf.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Following accounts are selected for order:
        [AccountsHtml]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Please click the button below for verifying and approving the transactions.
    </div>
    <button
        style="width:200px;height: 40px;border: 1px solid;  border-radius: 23px; color: white; text-decoration: none;  background-color: rgba(33, 77, 33, 0.747);"><a
            href="[Link]" target="_blank">Verify & Approve</a></button>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        If you are not able to open the above link, please copy and paste the following URL into your browser: [Link]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Investor must ensure that the funds are transferred from the registered bank account mentioned in the client
        registration data on Kinntegra.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Mutual Fund Investments are subject to market risks. Please read the Scheme Information Document carefully
        before investing.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        You may also contact us at <a href="mailto:info@kinntegra.co.in"
            style="text-decoration: none; color: #007bff;">info@kinntegra.co.in</a> for any further information that you
        may require.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Thanks and Regards,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Team Kinntegra
    </div>
</div>