<div style="margin: 20px 20px 20px 20px;">
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Dear Admin,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Please not that BSE login password has been changed.
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        New Password: [Password]
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Thanks and Regards,
    </div>
    <div style="margin-bottom: 20px; margin-top: 30px; ">
        Team Kinntegra
    </div>
</div>