<div class="main">
    <div class="container-fluid">
        <!-- <div class="table-top-section d-flex justify-content-between align-items-center mb-4"> -->
        <!-- <a class="back-btn" href="">
                <i class="icon-left-arrow"></i>
                Go Back
            </a> -->
        <div class="section-header mb-4">
            <app-header-right-template class="section-header"></app-header-right-template>
        </div>
        <!-- </div> -->

        <div class="col d-flex justify-content-center align-item-center">
            <div class="card w-100">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 pe-0 ps-0">
                            <app-client-leftbar-template [activeComp]="'preference'" [activeSubComp]="''"
                                [clientId]="clientId" [leadId]="leadId" [mode]="mode"
                                [progressPercentage]="100"></app-client-leftbar-template>
                        </div>

                        <form class="col-lg-8 col-xl-9 col-md-8 step-forms ps-0">

                            <section class="trial active" id="mandate_creation" data-step="1" autocomplete="off">
                                <div class="form-inner-section">
                                    <div class="form-header">
                                        <h3 class="card-title d-inline"><i
                                                class="icon-left-arrow back-btn back_to_creation"
                                                (click)="onBackClicked()"></i>Preferences
                                        </h3>
                                        <span class="edit-now float-end mt-1" *ngIf="showEdit"
                                        (click)="onEditClicked()">Edit</span>
                                    </div>

                                    <div class="form-content">
                                        <div class="row flex-column">
                                            <div class="col-12" id="account_detail">
                                                <div class="form-sections">
                                                    <ul ngbNav #navAccount="ngbNav"
                                                        class="nav nav-tabs accounts-tab no-wrap"
                                                        [(activeId)]="activeTab">
                                                        <li [ngbNavItem]="i" class="nav-item mb-4"
                                                            *ngFor="let profileItem of objClientProfiles; index as i">
                                                            <button ngbNavLink class="nav-link add-bank bank_added"
                                                                (click)="onProfileItemClicked(profileItem)">{{i+1}} -
                                                                {{profileItem.Name}}</button>
                                                            <ng-template ngbNavContent>
                                                                <div class="row">
                                                                    <div class="col-xl-8 col-lg-9">
                                                                        <ng-container
                                                                            *ngFor="let menuItem of profileItem.MenuOptions; let i = index">
                                                                            <div class="form-sections">
                                                                                <h4
                                                                                    class="form-section-title text-uppercase">
                                                                                    {{ menuItem.Module}}
                                                                                </h4>
                                                                                <div
                                                                                    *ngFor="let groupItem of menuItem.MenuGroups; let j = index">
                                                                                    <h5
                                                                                        class="form-section-title text-uppercase">
                                                                                        {{ groupItem.MenuGroup}}
                                                                                    </h5>
                                                                                    <div class="row">
                                                                                        <div class="col-sm-4"
                                                                                            *ngFor="let item of groupItem.MenuOptions; let k = index">
                                                                                            <div
                                                                                                class="form-group custom-checkbox">
                                                                                                <input type="checkbox"
                                                                                                    id="menu.{{item.Id}}"
                                                                                                    name="menu.{{item.Id}}"
                                                                                                    [(ngModel)]="item.IsSelected"
                                                                                                    [disabled]="!isEdit">
                                                                                                <label
                                                                                                    for="menu.{{item.Id}}">{{
                                                                                                    item.Name }}</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </ng-container>
                                                                    </div>
                                                                    <div class="col-xl-4 col-lg-3 d-none d-lg-flex">
                                                                        <!-- <ng-lottie style="height: 300px;"
                                                                            [options]="lottieOptions"
                                                                            (animationCreated)="animationCreated($event)"></ng-lottie> -->
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </li>
                                                    </ul>
                                                    <div [ngbNavOutlet]="navAccount"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-footer">
                                        <ng-container *ngIf="mode == 'create'">
                                            <button type="button" class="btn btn-primary btn-lg proceed"
                                                (click)="onProceed()" [disabled]="isBusy">
                                                <div *ngIf="isBusy">
                                                    <span class="spinner-border text-light"
                                                        style="margin-right: 10px; vertical-align: middle;"
                                                        role="status"></span>
                                                    <span>Proceed</span>
                                                </div>
                                                <span *ngIf="!isBusy">Proceed</span>
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="mode == 'edit'">
                                            <button *ngIf="isEdit" type="button" class="btn btn-primary btn-lg proceed"
                                                (click)="onProceed()" [disabled]="isBusy">
                                                <div *ngIf="isBusy">
                                                    <span class="spinner-border text-light"
                                                        style="margin-right: 10px; vertical-align: middle;"
                                                        role="status"></span>
                                                    <span>Send Credentials Email</span>
                                                </div>
                                                <span *ngIf="!isBusy">Send Credentials Email</span>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-lg proceed" *ngIf="!isEdit"
                                                (click)="onNext()">Finish</button>
                                        </ng-container>
                                        <ng-container *ngIf="mode == 'verify2'">
                                            <button *ngIf="isEdit" type="button" class="btn btn-primary btn-lg proceed"
                                                (click)="onProceed()" [disabled]="isBusy">
                                                <div *ngIf="isBusy">
                                                    <span class="spinner-border text-light"
                                                        style="margin-right: 10px; vertical-align: middle;"
                                                        role="status"></span>
                                                    <span>Send Credentials Email</span>
                                                </div>
                                                <span *ngIf="!isBusy">Send Credentials Email</span>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-lg proceed" *ngIf="!isEdit"
                                                (click)="onNext()">Finish</button>
                                        </ng-container>
                                        <ng-container *ngIf="mode == 'externalverify'">
                                            <!-- <button type="button" class="btn btn-primary btn-lg proceed"
                                                (click)="onNext()">Next</button> -->
                                        </ng-container>
                                        <ng-container *ngIf="mode == 'viewdetails'">
                                            <button type="button" class="btn btn-primary btn-lg proceed"
                                                (click)="onNext()">Finish</button>
                                        </ng-container>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>