<div class="container-fluid">
    <div class="col d-flex justify-content-center align-item-center">
        <div class="card col-8">

            <div class="card-body text-center">
                <!-- <div class="row"> -->
                <!-- <div class="row" style="text-align: center;">
                    <img class="card-img-top" style="width: 150px; height: 150px;" src="assets/images/logo.svg" alt="Card image">
                </div> -->

                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <img class="card-img-top" style="width:80px; height: 80px;" src="assets/images/logo.svg"
                            alt="Card image">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <h3 class="card-text">Associate self verification is pending."</h3>
                </div>
                <div class="row justify-content-center mt-4">
                    <a class="btn btn-primary col-sm-2" href="accounts" (click)="onOkClick()">Ok</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>