<div class="container-fluid">
    <div class="table-top-section">
        <div class="section-header mb-4">
            <app-header-right-template class="section-header"></app-header-right-template>
        </div>
        <div class="row">
            <div class="col-xl-4 mb-3 mb-xl-0">
                <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
                    <ng-container [ngbNavItem]="0">
                        <a ngbNavLink>Trade Logs</a>
                        <ng-template ngbNavContent>
                            <div class="col-md-12" *ngIf="!isLoading">
                                <ngx-datatable class="material" [rows]="objTradeLogs" [columnMode]="ColumnMode.force"
                                    rowHeight="auto" [footerHeight]="50" [headerHeight]="50" [limit]="10"
                                    [scrollbarH]="true" [loadingIndicator]="isLoading">
                                    <ngx-datatable-column name="ClientName" [width]="200" [sortable]="true"
                                        prop="ClientName">
                                        <ng-template ngx-datatable-header-template let-column="column">CLIENT
                                            NAME
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.ClientName }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="UCC" [width]="60" [sortable]="true" prop="UCC">
                                        <ng-template ngx-datatable-header-template let-column="column">UCC</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.UCC }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="TransactionDate" [width]="60" [sortable]="true"
                                        prop="TransactionDate">
                                        <ng-template ngx-datatable-header-template
                                            let-column="column">DATE</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.TransactionDate | date: 'dd-MMM-yyyy' }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="TradeType" [width]="80" [sortable]="true"
                                        prop="TradeType">
                                        <ng-template ngx-datatable-header-template let-column="column">
                                            TYPE</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{row.TradeType}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Amount" [width]="80" [sortable]="true" prop="Amount">
                                        <ng-template ngx-datatable-header-template let-column="column">AMOUNT
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">₹
                                            {{ row.Amount|indianCurrencyNumber }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="PaymentType" [width]="80" [sortable]="true"
                                        prop="PaymentType">
                                        <ng-template ngx-datatable-header-template let-column="column">PAYMENT MODE
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.PaymentType }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="AssociateName" [width]="190" [sortable]="true"
                                        prop="AssociateName">
                                        <ng-template ngx-datatable-header-template let-column="column">ADVISOR
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.AssociateName }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="TradeStatus" [width]="50" [sortable]="true"
                                        prop="TradeStatus">
                                        <ng-template ngx-datatable-header-template let-column="column">STATUS
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <span class="badge"
                                                [ngClass]="{'badge-success': (row.TradeStatus == 'Completed'), 'badge-warning': (row.TradeStatus == 'Processing' || row.TradeStatus == 'InProcess'), 'badge-info': (row.TradeStatus == 'Pending'), 'badge-danger': (row.TradeStatus == 'Rejected' || row.TradeStatus == 'Failed' || row.TradeStatus == 'Partially Failed'), 'badge-default': (row.TradeStatus == 'Cancelled' || row.TradeStatus == 'Auto Cancelled')}">{{row.TradeStatus}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [sortable]="false" [width]="25" [frozenRight]="true">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <div class="d-inline-block ms-3" ngbDropdown container="body"
                                                #myDrop="ngbDropdown" *ngIf="row.RecordType == 'S'">
                                                <button type="button" class="btn btn-view bg-gray me-2"
                                                    id="dropdownManual" ngbDropdownToggle>
                                                    <i class="icon-dots"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownManual"
                                                    placement="bottom-left">
                                                    <ng-container>
                                                        <a ngbDropdownItem (click)="onViewTrade(row)">View Details</a>
                                                        <a ngbDropdownItem *ngIf="row.TradeStatus == 'Pending'"
                                                            (click)="onCancelTrade(row)">Cancel Trade</a>
                                                        <a ngbDropdownItem *ngIf="row.TradeStatus == 'Pending'"
                                                            (click)="onResendEmail(row)">Resend Email</a>
                                                        <a ngbDropdownItem
                                                            *ngIf="row.TransactionTypeCode == 'B' && row.TradeStatus != 'Cancelled' && row.TradeStatus != 'Pending' && row.TradeStatus != 'Completed'"
                                                            (click)="onResendPaymentLink(row)">Resend Payment</a>
                                                        <!-- <a ngbDropdownItem>Raise a query </a> -->
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <div class="col-md-12" *ngIf="isLoading">
                                <span class="spinner-border text-light"
                                    style="margin-right: 10px; vertical-align: middle;" role="status"></span>
                                <span>Loading data... Please wait...</span>
                            </div>
                        </ng-template>
                    </ng-container>
                    <!-- For The Employee -->
                    <!-- <ng-container ngbNavItem>
                        <a ngbNavLink>Other Logs</a>
                        <ng-template ngbNavContent>
                            <ngx-datatable class="material" [rows]="objOtherLogs" [columnMode]="ColumnMode.force" rowHeight="auto"
                                [footerHeight]="50" [headerHeight]="50" [limit]="10" [scrollbarH]="true">
                                <ngx-datatable-column name="ClientName" [minWidth]="290" [width]="140" [sortable]="true"
                                    prop="ClientName">
                                    <ng-template ngx-datatable-header-template let-column="column">CLIENT
                                        NAME
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Date" [minWidth]="20" [width]="50" [sortable]="true"
                                    prop="Date">
                                    <ng-template ngx-datatable-header-template let-column="column">DATE</ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type" [minWidth]="20" [width]="50" [sortable]="true"
                                    prop="Type">
                                    <ng-template ngx-datatable-header-template let-column="column">
                                        TYPE</ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="ServicedBy" [minWidth]="10" [width]="50" [sortable]="true"
                                    prop="ServicedBy">
                                    <ng-template ngx-datatable-header-template let-column="column">SERVICED BY
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status" [minWidth]="30" [width]="200" [sortable]="true"
                                    prop="Status">
                                    <ng-template ngx-datatable-header-template let-column="column">Status
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span class="badge badge-success">{{row.LogMessage}}</span>
                                    </ng-template>
                                </ngx-datatable-column>                                
                            </ngx-datatable>
                        </ng-template>
                    </ng-container> -->

                    <ng-container [ngbNavItem]="1">
                        <a ngbNavLink>Auto Trades</a>
                        <ng-template ngbNavContent>
                            <div class="col-md-12" *ngIf="!isAutoTradeLoading">
                                <ngx-datatable class="material" [rows]="objAutoTradeLogs"
                                    [columnMode]="ColumnMode.force" rowHeight="auto" [footerHeight]="50"
                                    [headerHeight]="50" [limit]="10" [scrollbarH]="true"
                                    [loadingIndicator]="isAutoTradeLoading">
                                    <ngx-datatable-column name="FirstHolderName" [width]="200" [sortable]="true"
                                        prop="FirstHolderName">
                                        <ng-template ngx-datatable-header-template let-column="column">CLIENT
                                            NAME
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.FirstHolderName }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="UCC" [width]="60" [sortable]="true" prop="UCC">
                                        <ng-template ngx-datatable-header-template let-column="column">UCC</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.UCC }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="TradeDate" [width]="60" [sortable]="true"
                                        prop="TradeDate">
                                        <ng-template ngx-datatable-header-template
                                            let-column="column">DATE</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.TradeDate | date: 'dd-MMM-yyyy' }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="TradeType" [width]="80" [sortable]="true"
                                        prop="TradeType">
                                        <ng-template ngx-datatable-header-template let-column="column">
                                            TYPE</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <ng-template #htmlTradeContent>
                                                <div innerHTML="Deal Id: {{row.DealId}}</br>Bond Investment Date: {{row.BondInvestmentDate|date:'dd-MM-yyyy'}}</br>Investment Amount: ₹{{row.InvestmentAmount|indianCurrencyNumber}}</br>Revised Amount: ₹{{row.RevisedAmount|indianCurrencyNumber}}</br>Portfolio: {{row.PortfolioName}}"
                                                    style="text-align: left;">
                                                </div>
                                            </ng-template>
                                            <span *ngIf="row.TradeType == 'Buy'" [ngbTooltip]="htmlTradeContent"
                                                tooltipClass="custom-tooltip" placement="right" triggers="hover"
                                                container="body">{{row.TradeType}}</span>
                                            <span *ngIf="row.TradeType != 'Buy'">{{row.TradeType}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Amount" [width]="80" [sortable]="true" prop="Amount">
                                        <ng-template ngx-datatable-header-template let-column="column">AMOUNT
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">₹
                                            {{ row.Amount|indianCurrencyNumber }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="AssociateName" [width]="190" [sortable]="true"
                                        prop="AssociateName">
                                        <ng-template ngx-datatable-header-template let-column="column">ADVISOR
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.AssociateName }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Status" [width]="50" [sortable]="true" prop="Status">
                                        <ng-template ngx-datatable-header-template let-column="column">STATUS
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <span class="badge"
                                                [ngClass]="{'badge-success': (row.Status == 'Completed'), 'badge-warning': (row.Status == 'Processing' || row.Status == 'InProcess'), 'badge-info': (row.Status == 'Pending'), 'badge-danger': (row.Status == 'Rejected' || row.Status == 'Failed' || row.TradeStatus == 'Partially Failed'), 'badge-default': (row.Status == 'Cancelled' || row.Status == 'Auto Cancelled')}">{{row.Status}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [sortable]="false" [width]="25" [frozenRight]="true">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <div class="d-inline-block ms-3" ngbDropdown container="body"
                                                #myDrop="ngbDropdown">
                                                <button type="button" class="btn btn-view bg-gray me-2"
                                                    id="dropdownManual" ngbDropdownToggle>
                                                    <i class="icon-dots"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownManual"
                                                    placement="bottom-left">
                                                    <ng-container>
                                                        <a ngbDropdownItem *ngIf="row.Status == 'Pending'"
                                                            (click)="onCancelAutoTrade(row)">Cancel Trade</a>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <div class="col-md-12" *ngIf="isAutoTradeLoading">
                                <span class="spinner-border text-light"
                                    style="margin-right: 10px; vertical-align: middle;" role="status"></span>
                                <span>Loading data... Please wait...</span>
                            </div>
                        </ng-template>
                    </ng-container>

                    <ng-container [ngbNavItem]="2">
                        <a ngbNavLink>Challan Download</a>
                        <ng-template ngbNavContent>
                            <div class="col-md-12">
                                <ngx-datatable class="material" [rows]="objChallanLogs" [columnMode]="ColumnMode.force"
                                    rowHeight="auto" [footerHeight]="50" [headerHeight]="50" [limit]="10"
                                    [scrollbarH]="true">
                                    <ngx-datatable-column name="FirstAccountHolderName" [width]="250" [sortable]="true"
                                        prop="FirstAccountHolderName">
                                        <ng-template ngx-datatable-header-template let-column="column">CLIENT
                                            NAME
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{row.FirstAccountHolderName}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="BankName" [width]="250" [sortable]="true"
                                        prop="BankName">
                                        <ng-template ngx-datatable-header-template
                                            let-column="column">BANK</ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{row.BankName}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="ChequeNumber" [width]="55" [sortable]="true"
                                        prop="ChequeNumber">
                                        <ng-template ngx-datatable-header-template let-column="column">CHEQUE NO.
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.ChequeNumber }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="ChequeDate" [width]="70" [sortable]="true"
                                        prop="ChequeDate">
                                        <ng-template ngx-datatable-header-template let-column="column">CHEQUE DATE
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.ChequeDate|date:'dd-MM-yyyy' }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="GroupId" [width]="55" [sortable]="true" prop="GroupId">
                                        <ng-template ngx-datatable-header-template let-column="column">GROUP ID
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.GroupId }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="DepositChallanNumber" [width]="55" [sortable]="true"
                                        prop="DepositChallanNumber">
                                        <ng-template ngx-datatable-header-template let-column="column">Challan No.
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.DepositChallanNumber }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Amount" [width]="55" [sortable]="true" prop="Amount">
                                        <ng-template ngx-datatable-header-template let-column="column">AMOUNT
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            {{ row.Amount }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- <ngx-datatable-column name="Recall" [width]="50" [sortable]="true"
                                    prop="Recall">
                                    <ng-template ngx-datatable-header-template let-column="column"> RECALL
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        {{ row.Recall  }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status" [minWidth]="30" [width]="200" [sortable]="true"
                                    prop="Status">
                                    <ng-template ngx-datatable-header-template let-column="column">STATUS
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span class="badge badge-success">{{row.LogMessage}}</span>
                                    </ng-template>
                                </ngx-datatable-column>-->
                                    <ngx-datatable-column [sortable]="false" [width]="25" [frozenRight]="true">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                            let-value="value" let-row="row">
                                            <div class="d-inline-block ms-3" ngbDropdown container="body"
                                                #myDrop="ngbDropdown">
                                                <button type="button" class="btn btn-view bg-gray me-2"
                                                    id="dropdownManual" ngbDropdownToggle>
                                                    <i class="icon-dots"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownManual"
                                                    placement="bottom-left">
                                                    <ng-container>
                                                        <a ngbDropdownItem (click)="onDownloadChallanClicked(row)"
                                                            *ngIf="row.DepositChallanNumber!=''">Download
                                                            Challan</a>
                                                        <!-- <a ngbDropdownItem>Raise a query </a>
                                                    <a ngbDropdownItem>Resend Email</a> -->
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </ng-template>
                    </ng-container>
                </nav>
            </div>
            <div class="col-xl-8 pl-xl-0 " *ngIf="activeTab == 0">
                <div class="table-options d-flex gap-2 align-items-center mb-3">
                    <div class="dp-hidden position-absolute">
                        <div class="input-group" style="border: none;">
                            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="input-group" style="width:525px;">
                        <button class="btn btn-transparent" (click)="datepicker.toggle()" type="button"><svg width="24"
                                height="24" viewBox="0 0 24 24">
                                <use xlink:href="#month"></use>
                            </svg></button>
                        <input class="form-control" readonly placeholder="dd/mm/yyyy - dd/mm/yyyy" name="dp"
                            [value]="dateFromTo" />
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="table-search">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#search" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control custom-search-input" placeholder="Search"
                            aria-label="table-search" id="tableSearch" aria-describedby="table-search"
                            [(ngModel)]="objSearchKeyword" (input)="searchRecord()">
                    </div>

                    <button class="btn btn-icon" (click)="onTradeLogFilterClick()">
                        <svg width="40" viewBox="0 0 36 36">
                            <use xlink:href="#filter" />
                        </svg>
                    </button>
                    <!-- <div class="table-nav d-flex">
                        <button class="btn btn-transparent btn-sm" id="previous" disabled>
                            <i class="icon-left-arrow"></i>
                        </button>
                        <button class="btn btn-transparent btn-sm" id="next">
                            <i class="icon-right-arrow"></i>
                        </button>
                    </div> -->
                    <!-- <button class="btn btn-primary col-sm-3 col-6 ml-3" *ngIf="!isLoading" (click)="onTradeLogDownload()"
                        [disabled]="isBusy">
                        <div *ngIf="isBusy">
                            <span class="spinner-border text-light" style="margin-right: 10px; vertical-align: middle;"
                                role="status"></span>
                            <span>Download</span>
                        </div>
                        <span *ngIf="!isBusy">Download</span>
                    </button> -->
                    <button class="btn btn-icon" *ngIf="!isLoading" (click)="onTradeLogDownload()" [disabled]="isBusy">
                        <svg width="40" viewBox="0 0 26 26">
                            <use xlink:href="#download" />
                        </svg>
                        <span class="spinner-border text-light"
                            style="position: absolute; top:0; left:0; width:40px; height:40px;" role="status"
                            *ngIf="isBusy"></span>
                    </button>
                </div>
            </div>
            <div class="col-xl-8 pl-xl-0 " *ngIf="activeTab == 1">
                <div class="table-options d-flex gap-2 align-items-center mb-3">
                    <!-- <div class="input-group" style="width:175px;">
                        <input class="form-control" readonly placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="asOnDate"
                            ngbDatepicker #d="ngbDatepicker" (dateSelect)="onAsOnDateSelect($event)"/>
                        <button class="btn btn-transparent" (click)="d.toggle()" type="button"><svg width="24"
                                height="24" viewBox="0 0 24 24">
                                <use xlink:href="#month"></use>
                            </svg></button>
                    </div> -->

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="table-search">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#search" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control custom-search-input" placeholder="Search"
                            aria-label="table-search" id="tableSearch" aria-describedby="table-search"
                            [(ngModel)]="objSearchKeyword" (input)="searchRecord()">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 pl-xl-0 " *ngIf="activeTab == 2">
                <div class="table-options d-flex gap-2 align-items-center mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="table-search">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#search" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control custom-search-input" placeholder="Search"
                            aria-label="table-search" id="tableSearch" aria-describedby="table-search"
                            [(ngModel)]="objSearchKeyword" (input)="searchRecord()">
                    </div>
                </div>
            </div>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>