
<div class="main">
    <div class="container-fluid">
        <div class="table-top-section d-flex justify-content-between align-items-center mb-4">
            <a class="back-btn" href="#">
                <i class="icon-left-arrow"></i>
                Go Back
            </a>
            <div class="section-header">
                <app-header-right-template class="section-header"></app-header-right-template>
            </div>
        </div>
        <div class="card w-100">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 pe-0 ps-0">

                        <!-- @include('client.leftbar', ['is_verify' => $is_verify]) -->
                        <app-client-leftbar-template [activeComp]="'comprehensive-plan'" [mode]="mode"
                            [activeSubComp]="'goal-details'" [clientId]="clientId" [leadId]="leadId"
                            [progressPercentage]="22"></app-client-leftbar-template>

                    </div>

                    <div class="trial col-lg-8 col-xl-9 col-md-8 step-forms ps-0" id="income-details"
                        autocomplete="off">

                        <div class="form-inner-section">
                            <div class="form-header">
                                <h3 class="card-title">Goal</h3>
                            </div>

                            <div class="form-content">
                                <div class="row">
                                    <div>
                                        <nav ngbNav #nav="ngbNav" class="nav-tabs">
                                            <ng-container ngbNavItem
                                                *ngFor="let incomeItem of objGoals; index as i">
                                                <a ngbNavLink (click)="onGetSelelectCategory(incomeItem)">{{incomeItem.Member.Name}}</a>
                                                <ng-template ngbNavContent>
                                                    <div class="tab-pane fade show active mt-5">
                                                        <div class="form-sections mb-0">
                                                            <ul ngbNav #navchild="ngbNav"
                                                                class="nav nav-tabs members-tab no-wrap" role="tablist">
                                                                <li ngbNavItem class="nav-item mb-3"
                                                                    *ngFor="let selectedCategoryItem of incomeItem.SelectedCategories; index as j">
                                                                    <button ngbNavLink
                                                                        class="nav-link member_tab">{{selectedCategoryItem.CategoryName}}
                                                                        <span
                                                                            class="delete-member btn-close ms-3 fw-light"
                                                                            (click)="onRemoveCategoryClick($event,incomeItem,selectedCategoryItem,j)"></span>
                                                                    </button>
                                                                    <ng-template ngbNavContent>
                                                                        <div class="tab-pane fade show"
                                                                            id="business-income" role="tabpanel">
                                                                            <div
                                                                                *ngFor="let incomeDataItem of selectedCategoryItem.IncomeData;index as l">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xl-3 ">
                                                                                        <div class="form-group">
                                                                                            <label>Amount Today</label>
                                                                                            <input type="number"
                                                                                                class="form-control"
                                                                                                name="AmountToday_{{j}}"
                                                                                                [(ngModel)]="incomeDataItem.AmountToday"
                                                                                                >
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xl-3">
                                                                                        <div class="form-group">
                                                                                            <label>Inflation Percentage</label>
                                                                                            <input type="text"
                                                                                                class="form-control"
                                                                                                name="InflationPercentage_{{j}}"
                                                                                                [(ngModel)]="incomeDataItem.InflationPercentage"
                                                                                                >
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xl-6">
                                                                                    <div class="form-group">
                                                                                        <label>
                                                                                            Select Goal Year</label>
                                                                                        <div class=" form-control ng-select-form-control">
                                                                                            <ng-select [items]="goalYears" [multiple]="true"
                                                                                                bindLabel="GoalYear" [closeOnSelect]="false" bindValue="Id"
                                                                                                [(ngModel)]="selectedGoalYear" name="goalyear_{{l}}" [dropdownPosition]="'bottom'"
                                                                                                >
                                                                                                <ng-template ng-option-tmp let-item="item"
                                                                                                    let-item$="item$" let-index="index">
                                                                                                    <input id="item-{{index}}" type="checkbox"
                                                                                                        [(ngModel)]="item$.selected"
                                                                                                        [ngModelOptions]="{standalone: true}" />
                                                                                                    {{item.GoalYear}}
                                                                                                </ng-template>
                                                                                            </ng-select>
                                
                                                                                 
                                                                                        </div>
                                                                                        </div>
                                                                                   
                                                                                </div>
                                                                                    </div>
                                                                         
                                                                            </div>
                                                                    
                                                                        </div>
                                                                    </ng-template>
                                                                </li>
                                                                <div
                                                                    style="height: 30px; border-left: 2px solid #a3a3a3; margin-right: 15px;">
                                                                </div>
                                                                <li ngbNavItem class="nav-item mb-3"
                                                                    *ngFor="let categoryItem of incomeItem.IncomeCategories;index as k">
                                                                    <a ngbNavLink class="nav-link add-bank bank_added"
                                                                        (click)="onAddCategoryClick(incomeItem,categoryItem,k)">{{categoryItem.CategoryName}}</a>
                                                                </li>
                                                            </ul>
                                                            <div [ngbNavOutlet]="navchild"></div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ng-container>
                                        </nav>
                                        <div [ngbNavOutlet]="nav"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-footer">
                                <button class="btn btn-primary btn-lg" (click)="onSave()">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>