<div class="auth-page">
    <div class="auth-wrapper">
        <div class="card auth-card">
            <div class="card-body">
                <div class="logo-wrap">
                    <img class="img-fluid" src="assets/images/logo.svg" alt="Kinntegra">
                </div>
                <h3 class="card-title text-center">Forgot Password</h3>
                <form>
                    <div class="form-group">
                        <label for="user-id">PAN NO</label>
                        <input type="text" id="user-id" name="usermane" [(ngModel)]="objResetRequest.UserName" class="form-control" placeholder="">
                    </div>
                    <!-- <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="Type password here">
                    </div> -->
                    <button class="btn btn-primary w-100 btn-lg text-uppercase" (click)="onSaveUserName()" type="submit">RESET</button>
                    <div class="d-sm-flex mt-3 justify-content-center">
                        <a style="text-decoration: none;" href="#">Back To Login</a>
                        <!-- <span class="d-block mt-2 mt-sm-0">Don't have an account ? <a href="#">Sign Up</a></span> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center company-info font">
            <!-- Kinntegra Business Solutions Pvt. Ltd. (Member of BSE)
           AMFI Registration No: ARN-145633 | Cin:
            U74999MH2018PTC306145 -->
            Kinntegra Wealth Private Limited | CIN: U74999MH2018PTC306145 <br>
            AMFI Registration No: ARN-145633 | BSE StarMF Member ID - 19941
        </div>
    </div>

</div>
