<div class="main">
    <div class="container-fluid">
        <div class="section-header mb-4">
            <app-header-right-template class="section-header" *ngIf="mode != 'externalverify'"></app-header-right-template>
        </div>

        <div class="card w-100">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 pe-0 ps-0">
                        <app-employee-leftbar-template [activeComp]="'general-information'" [activeSubComp]="''"
                            [employeeId]="employeeId" [mode]="mode" [ts]="ts"
                            [progressPercentage]="12"></app-employee-leftbar-template>
                    </div>
                    <form class="col-lg-8 col-xl-9 step-forms col-md-8 ps-0" enctype="multipart/form-data"
                        id="form-information">

                        <section class="trial active" id="general-information" data-step="1" autocomplete="off">
                            <div class="form-inner-section">
                                <div class="form-header">
                                    <h3 class="card-title d-inline"> General Information</h3>
                                    <span class="edit-now float-end mt-1" *ngIf="showEdit"
                                        (click)="onEditClicked()">Edit</span>
                                </div>

                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9">
                                            <div class="row flex-column">

                                                <div class="col-sm-8 associate_id" *ngIf="isSuperUser || isPrimaryAssociate">
                                                    <div class="form-group">
                                                        <label for="associate">Associate Name <span
                                                                class="required-sign">*</span></label>
                                                        <div class="form-control ng-select-form-control">
                                                            <ng-select [(ngModel)]="objEmployee.AssociateId"
                                                                name="associate" [disabled]="!isEdit"
                                                                (change)="OnAssocaiteChange($event)" [dropdownPosition]="'bottom'">
                                                                <ng-option *ngFor="let associate of associates"
                                                                    [value]="associate.Id">{{associate.Name}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-8 associate_id" *ngIf="!isSuperUser && !isPrimaryAssociate">
                                                    <div class="form-group">
                                                        <label for="associate">Associate Name <span
                                                                class="required-sign">*</span></label>
                                                        <div class="form-control ng-select-form-control">
                                                            <ng-select [(ngModel)]="objEmployee.AssociateId"
                                                                name="associate" [disabled]="true"
                                                                (change)="OnAssocaiteChange($event)" [dropdownPosition]="'bottom'">
                                                                <ng-option *ngFor="let associate of associates"
                                                                    [value]="associate.Id">{{associate.Name}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-8 name">
                                                    <div class="form-group">
                                                        <label for="name">Name (As per Pancard) <span
                                                                class="required-sign">*</span></label>
                                                        <input type="text" class="form-control text-capitalize"
                                                            id="name" name="name" aria-describedby="name" value=""
                                                            [(ngModel)]="objEmployee.Name" [disabled]="!isEdit">
                                                    </div>
                                                </div>


                                                <div class="col-sm-8 department_id" id="departments">
                                                    <div class="form-group">
                                                        <h4 class="form-section-title text-uppercase text-grey">
                                                            Department<span class="required-sign">*</span></h4>
                                                        <div class="dropdown form-control ng-select-form-control">
                                                            <ng-select [items]="departments" [multiple]="true"
                                                                bindLabel="Name" [closeOnSelect]="false" bindValue="Id"
                                                                [(ngModel)]="selectedDepartments" name="department"
                                                                (change)="onDepartmentsChanged()" [disabled]="!isEdit" [dropdownPosition]="'bottom'">
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-item$="item$" let-index="index">
                                                                    <input id="item-{{index}}" type="checkbox"
                                                                        [(ngModel)]="item$.selected"
                                                                        [ngModelOptions]="{standalone: true}" />
                                                                    {{item.Name}}
                                                                </ng-template>
                                                            </ng-select>

                                                            <!-- <ng-select [items]="departments" bindLabel="Name"
                                                                bindValue="Id" [multiple]="true" name="dep"
                                                                [(ngModel)]="selectedDepartments" [disabled]="isReadOnly" [dropdownPosition]="'bottom'">
                                                                <ng-template ng-option-tmp let-item="item">
                                                                    <div (click)="onDepartmentSelect($event,item)">
                                                                        <input type="checkbox"
                                                                            [checked]="item.selected" /> {{ item.Name }}
                                                                    </div>
                                                                </ng-template>
                                                            </ng-select> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 sub_department_id" id="subDepartments">
                                                    <div class="form-group">
                                                        <h4 class="form-section-title text-uppercase text-grey">Sub
                                                            Department<span class="required-sign">*</span></h4>
                                                        <div class="dropdown form-control ng-select-form-control">
                                                            <ng-select [items]="subDepartments" [multiple]="true"
                                                                bindLabel="Name" [closeOnSelect]="false" bindValue="Id"
                                                                [(ngModel)]="selectedSubDepartments"
                                                                name="subDepartment" groupBy="DepartmentName"
                                                                [disabled]="!isEdit" [dropdownPosition]="'bottom'">
                                                                <ng-template ng-optgroup-tmp let-item="item">
                                                                    {{item.DepartmentName ||
                                                                    'Department'}}
                                                                </ng-template>
                                                                <ng-template ng-option-tmp let-item="item"
                                                                    let-item$="item$" let-index="index">
                                                                    <input id="item-{{index}}" type="checkbox"
                                                                        [(ngModel)]="item$.selected"
                                                                        [ngModelOptions]="{standalone: true}" />
                                                                    {{item.Name}}
                                                                </ng-template>
                                                            </ng-select>

                                                            <!-- <ng-select [items]="subDepartments" bindLabel="Name"
                                                                bindValue="Id" [multiple]="true"
                                                                [(ngModel)]="selectedSubDepartments"
                                                                (remove)="SubDepartmentRemove($event)" name="subdep"
                                                                [disabled]="isReadOnly" [dropdownPosition]="'bottom'">
                                                                <ng-template ng-option-tmp let-item="item">
                                                                    <div (click)="onSubDepartmentSelect($event, item)">
                                                                        <input type="checkbox"
                                                                            [checked]="item.selected" /> {{ item.Name }}
                                                                    </div>
                                                                </ng-template>
                                                            </ng-select> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 designation_id">
                                                    <div class="form-group">
                                                        <label for="designation_id">Grade <span
                                                                class="required-sign">*</span></label>
                                                        <div class="form-control ng-select-form-control">
                                                            <ng-select [(ngModel)]="objEmployee.DesignationId"
                                                                name="grade" [disabled]="!isEdit"
                                                                (change)="OnGradeChange($event)" [dropdownPosition]="'bottom'">
                                                                <ng-option *ngFor="let designation of designations"
                                                                    [value]="designation.Id">{{designation.Name}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-8 supervisor_id">
                                                    <div class="form-group">
                                                        <label for="supervisor_id">Supervised By <span
                                                                class="required-sign">*</span></label>
                                                        <div class="form-control ng-select-form-control">
                                                            <ng-select [(ngModel)]="objEmployee.SupervisorAppUserId"
                                                                name="supervise" [disabled]="!isEdit" [dropdownPosition]="'bottom'">
                                                                <ng-option *ngFor="let supervise of supervises"
                                                                    [value]="supervise.Id">{{supervise.UserName}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-3 d-none d-lg-flex">
                                            <ng-lottie style="height: 300px;" [options]="lottieOptions"
                                                (animationCreated)="animationCreated($event)"></ng-lottie>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <ng-container *ngIf="mode == 'create'">
                                        <button type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onProceed()" [disabled]="isBusy">
                                            <div *ngIf="isBusy">
                                                <span class="spinner-border text-light"
                                                    style="margin-right: 10px; vertical-align: middle;"
                                                    role="status"></span>
                                                <span>Proceed</span>
                                            </div>
                                            <span *ngIf="!isBusy">Proceed</span>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'edit'">
                                        <button *ngIf="isEdit" type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onProceed()" [disabled]="isBusy">
                                            <div *ngIf="isBusy">
                                                <span class="spinner-border text-light"
                                                    style="margin-right: 10px; vertical-align: middle;"
                                                    role="status"></span>
                                                <span>Proceed</span>
                                            </div>
                                            <span *ngIf="!isBusy">Proceed</span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-lg proceed" *ngIf="!isEdit"
                                            (click)="onNext()">Proceed</button>
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'verify'">
                                        <button *ngIf="isEdit" type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onProceed()" [disabled]="isBusy">
                                            <div *ngIf="isBusy">
                                                <span class="spinner-border text-light"
                                                    style="margin-right: 10px; vertical-align: middle;"
                                                    role="status"></span>
                                                <span>Proceed</span>
                                            </div>
                                            <span *ngIf="!isBusy">Proceed</span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-lg proceed" *ngIf="!isEdit"
                                            (click)="onNext()">Proceed</button>
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'externalverify'">
                                        <button type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onNext()">Next</button>
                                    </ng-container>
                                    <ng-container *ngIf="mode == 'viewdetails'">
                                        <button type="button" class="btn btn-primary btn-lg proceed"
                                            (click)="onNext()">Proceed</button>
                                    </ng-container>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>